
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <link href="~/traversal-liberty/assets/css/error404.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
    	<div class="fof">
        		<h1>Error 404</h1>
                <br />
                <a href="/Default/Index">Ana Sayfaya Dön</a>
    	</div>
        
</div>
</body>
</html>
