
@model List<DTOLayer.DTOs.AnnouncementDTOs.AnnouncementListDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered">
    <tr>
    <th>#</th>
    <th>Baslık</th>
    <th>İçerik</th>
    <th>Detaylar</th>
    <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AnnouncementID</td>
            <td>@item.Title</td>
            <td>@item.Content</td>
            
            <td><a href="/Admin/Announcement/UpdateAnnouncement/@item.AnnouncementID" class="btn btn-outline-info btn-sm">Detaylar</a></td>
            <td><a href="/Admin/Announcement/DeleteAnnouncement/@item.AnnouncementID" class="btn btn-outline-danger btn-sm">Sil</a></td>
        </tr>
    }

</table>