@model Traversal.Areas.Admin.Models.UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-12 ">

<form method="post">
   
    <div class="form-group">
        <input type="hidden" asp-for="RoleId"/>
        <label>Role Adı</label>
        <input  type="text" asp-for="RoleName" class="form-control"/>
    </div>
 
    
    <button class="btn btn btn-secondary btn-md btn-block" style="align-content:center">Role Güncelle</button>
</form>

</div>
</div>
</div>


<br />

