@using EntityLayer.Concrete
@model List<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<style>
    img{
        border-radius:50%;
    }
</style>

<h1>Rehber Listesi</h1>



<div class="row m-t-30">
    <div class="col-md-12">
        <!-- DATA TABLE-->
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Görsel</th>
                        <th>Ad Soyad</th>
                        <th>Açıklama</th>
                        <th>Durum</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                     {
                     <tr>
                        <td>@item.GuideID</td>
                        <td><img src="@item.Image" height="50" width="50"/></td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        @if (item.Status)
                        {
                            <td><a href="#" class="btn btn-outline-danger" >Pasif Yap</a></td>
                        }
                        else
                        {
                            <td><a href="#" class="btn btn-outline-success" >Aktif Yap</a></td>
                        }
                            <td><a href="#" class="btn btn-outline-warning">Düzenle</a></td>
                                            
                            </tr>
                       }
                </tbody>
            </table>
           <a href="/Admin/Guide/AddGuide"><button  class="btn btn-outline-secondary"> Yeni Rehber Ekle</button></a> 
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>