
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}
<br />
<br />
<br />
<h1>PDF Report</h1>
<br />
<br />
<br />
<a href="/PdfReport/StaticPdfReport" class="btn btn-outline-primary">PDF REPORT</a>
<br />
<br />
<br />
<a href="/PdfReport/StaticCustomerReport" class="btn btn-outline-primary">Müşteri PDF REPORT</a>

<br />
<br />
<br />