
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayour.cshtml";
}

<h1>Index</h1>

@await Component.InvokeAsync("SliderPartial")

@await Component.InvokeAsync("PopulerDestination")

@await Component.InvokeAsync("Statistics")

@await Component.InvokeAsync("Feature")

@await Component.InvokeAsync("SubAbout")

@await Component.InvokeAsync("Testimonial")

 
