
@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">


@await Html.PartialAsync("/Views/LayoutPartial/HeaderPartial.cshtml")
<body>
  <!--header-->
  @await Html.PartialAsync("/Views/LayoutPartial/NavbarPartial.cshtml")
  <!-- //header -->
  <!--banner-slider-->
  <!-- main-slider -->
 @RenderBody()
  <!-- /main-slider -->
  <!-- //banner-slider-->

  <!--/grids-->
 
  <!--//grids-->
  <!-- stats -->
  
  <!-- //stats -->
  <!--/-->
 

  <!--/w3l-footer-29-main-->
 @await Html.PartialAsync("/Views/LayoutPartial/FooterPartial.cshtml")
  
 @await Html.PartialAsync("/Views/LayoutPartial/ScriptsPartial.cshtml")
</body>

</html>


