
@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}

<h1>GetCityDestID</h1>

<label> Sehir Adı Giriniz</label>

<form method="post">
<input  type="text" class="form-control" name="city"/>

<br />
<button>Şehir ID</button>
</form>

